.input-container {
    width: 280px;
    position: relative;
}
.login-label {
    position: absolute;
    left: 10px;
    top: 15px;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #b3b3b3;
}
.text-input {
    padding: 0.8rem;
    width: 100%;
    height: 50px;
    border: 2px solid #2f2c45;
    background: #ffffff;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    transition: all 0.3s;
    color: #555555;
    margin-bottom: 15px;
}

.login-label::before {
    content: "";
    height: 5px;
    background: #ffffff;
    position: absolute;
    left: 0px;
    top: 10px;
    width: 100%;
    z-index: -1;
}

.text-input:focus {
    border: 2px solid #7e4ccb;
}

.text-input:focus + .login-label,
.filled {
    top: -10px;
    color: #000000;
    font-size: 14px;
}

.text-input::placeholder {
    font-size: 16px;
    opacity: 0;
    transition: all 0.3s;
}
.text-input:focus::placeholder {
    opacity: 1;
}